@model List<POC_Models.Models.Teacher>

@{
    ViewBag.Title = "Teachers";
}
<div>
    <h2>Teacher's List</h2>
</div>
<div class="d-flex justify-content-between align-items-center">
    
    <form method="get" class="form-inline mb-3">
        <div class="row align-items-center">
            <div class="col-md-auto">
                <label for="sortColumn" class="mr-2">Sort By:</label>
            </div>
            <div class="col-md-auto mr-2">
                <select id="sortColumn" name="sortColumn" class="form-control">
                    <option value="None" selected="@((string)ViewData["SortColumn"] == "None")">None</option>
                    <option value="Id_Teacher" selected="@((string)ViewData["SortColumn"] == "Id_Teacher")">Id</option>
                    <option value="Name_Teacher" selected="@((string)ViewData["SortColumn"] == "Name_Teacher")">Name</option>
                </select>
            </div>
            <div class="col-md-auto mr-2">
                <select id="sortOrder" name="sortOrder" class="form-control">
                    <option value="None" selected="@((string)ViewData["SortOrder"] == "None")">None</option>
                    <option value="ASC" selected="@((string)ViewData["SortOrder"] == "ASC")">Ascending</option>
                    <option value="DESC" selected="@((string)ViewData["SortOrder"] == "DESC")">Descending</option>
                </select>
            </div>
            <div class="col-md-auto">
                <button type="submit" class="btn btn-primary">Sort</button>
            </div>
        </div>
    </form>
    <a href="@Url.Action("Add")" class="btn btn-success">Add Teacher</a>
</div>
&nbsp; &nbsp;



<div class="container">
    <div class="row">
        @foreach (var teacher in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@teacher.Name_Teacher</h5>
                        <p class="card-text">Email: @teacher.Email_Teacher</p>
                        <p class="card-text">Phone: @teacher.Phone_Teacher</p>
                        <a href="@Url.Action("Edit", new { id = teacher.Id_Teacher })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Details", new { id = teacher.Id_Teacher })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Delete", new { id = teacher.Id_Teacher })" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-3">
        
    </div>
</div>
